* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff9ff3, #00d2d3);
}

.registration-form {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #2d3436;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d3436;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdde1;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #00cec9;
}

.submit-btn {
    width: 100%;
    background:  linear-gradient(135deg, #ff9ff3, #00d2d3);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background: linear-gradient(135deg, #f5b0ec, #b4fcfc);
}

.form-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #636e72;
}

.form-footer a {
    color: #ea08d4;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}